extends layout

block content
  .container
    .row.mb-5
      .col-9
        .row
          .col.mt-6.offset-3
            h2.alert-heading Citus
            p
              | Total data: 
              b 10.000
            hr
        .row
          .col-6.mt-3
            .row
              form.row.form-inline(method="POST" action="/citus-insert"  name="citus-insert")
                .col
                  button.btn.btn-success.mb-3.btn-lg.float-end.rounded-0.btnCrud(type='submit') Insert(#{citusCount})
            .row
              form.row.form-inline(method="POST" action="/citus-update"  name="citus-update")
                .col
                  button.btn.btn-warning.mb-3.btn-lg.float-end.rounded-0.btnCrud(type='submit') Update(#{citusCount})
            .row
              form.row.form-inline(method="POST" action="/citus-delete"  name="citus-delete")
                .col
                  button.btn.btn-danger.mb-3.btn-lg.float-end.rounded-0.btnCrud(type='submit') Delete(#{citusCount})
            .row
              form.row.form-inline(method="GET" action="/citus-select"  name="citus-select")
                .col
                  button.btn.btn-dark.mb-3.btn-lg.float-end.rounded-0.btnCrud(href='#', type='submit') Select(#{citusCount})
          .col-6.mt-3
            .alert.alert-success(role='alert')
              h4
                | Start time: 
                b= citusStartTime
              h4
                | End time: 
                b= citusEndTime
              hr
              h3
                | Result time: 
                b #{citusResultTime} ms
              i.mb-0 Number of rows affected: #{citusCount} rows
    .row
      .col-9
        .row
          .col.mt-6.offset-3
            h2.alert-heading PosgreSQL Replication
            p
              | Total data: 
              b= pgCount
            hr
        .row
          .col-6.mt-3
            .row
              form.row.form-inline(method="POST" action="/pg-insert"  name="pg-insert")
                .col
                  button.btn.btn-success.mb-3.btn-lg.float-end.rounded-0.btnCrud(type='submit') Insert(#{pgCount})
            .row
              form.row.form-inline(method="POST" action="/pg-update"  name="pg-update")
                .col
                  button.btn.btn-warning.mb-3.btn-lg.float-end.rounded-0.btnCrud(type='submit') Update(#{pgCount})
            .row
              form.row.form-inline(method="POST" action="/pg-delete"  name="pg-delete")
                .col
                  button.btn.btn-danger.mb-3.btn-lg.float-end.rounded-0.btnCrud(type='submit') Delete(#{pgCount})
            .row
              form.row.form-inline(method="GET" action="/pg-select"  name="pg-select")
                .col
                  button.btn.btn-dark.mb-3.btn-lg.float-end.rounded-0.btnCrud(type='submit') Select(#{pgCount})
          .col-6.mt-3
            .alert.alert-success(role='alert')
              h4
                | Start time: 
                b= pgStartTime
              h4
                | End time: 
                b= pgEndTime
              hr
              h3
                | Result time: 
                b #{pgResultTime} ms
              i.mb-0 Number of rows affected: #{pgCount} rows
